.chips-container {
  width: 85%;
  height: 4rem;
  margin-left: 15rem;
  margin-top: 5rem;
  box-shadow: #dbdbdb 0px 2px 8px 0px;
}
input[type="submit"].chips {
  padding: 5px 10px;
  border-radius: 50px;
  width: auto;
  margin: 5px;
}
.chips-data {
  display: flex;
}
