@import "https://deploy-preview-13--agri-component.netlify.app/css/components.css";
* {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
}

:root {
  --sky-blue-color: rgb(106, 161, 255);
  --black-color: rgb(33, 29, 29);
  --white-color: rgb(255, 255, 255);
}
a {
  text-decoration: none;
}
