.hero {
  height: 83vh;
  width: 85%;
  position: fixed;
  top: 5rem;
  left: 15rem;
  border-radius: 0.3rem;
  background-image: url("https://raw.githubusercontent.com/iprankurpandey/github-imagehosting/main/undraw_Online_media_re_r9qv.png");
  background-size: auto;
  background-position: right;
  background-repeat: no-repeat;
  opacity: 0.7;
  box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
}
span.hero-heading {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 6rem;
  font-weight: 800;
  margin: 3rem;
  display: block;
}
span.hero-para {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 4rem;
  font-weight: bold;
  margin: 3rem;
}
span.hero-para2 {
  font-size: 4rem;
  font-weight: bold;
  margin-left: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
span.hero-text {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 12rem;
}
button.btn.btn-success {
  height: 3rem;
  width: 10rem;
  border-radius: 0.3rem;
  border: none;
  transform: scale(1.2);
  border: none;
  margin-left: 3rem;
}
