.watchlaterdata {
  height: 15rem;
  width: 20rem;
  background-color: var(--sky-blue-color);
  margin: 1.5rem;
}
.watchlater-container {
  margin-top: 4rem;
  margin-left: 8rem;
  padding: 1rem;
  width: 100%;
  margin-bottom: 8rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
span.watchlatermi {
  color: var(--white-color);
  position: relative;
  left: 20rem;
  bottom: 3rem;
  margin: 0.5rem;
  background-color: var(--black-color);
  font-size: 1.8rem;
  align-items: center;
}

span.watchlatermi:hover {
  background-color: var(--red-shade-color);
  cursor: pointer;
}
h1.watchlaterpage-title {
  display: flex;
  justify-content: center;
  width: 80%;
  align-items: center;
  font-size: 2rem;
  padding: 1rem;
  margin: 1rem;
  color: var(--red-shade-color);
}
