.navigation-menu {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #dbdbdb;
}

span.material-icons.navigationmi {
  font-size: 2rem;
}
.navigation__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 1.5rem;
}
