.video__cards {
}

.video__cards:hover {
  transform: scale(1.1);
}

iframe.iframe-video {
  height: 15rem;
  width: 100%;
  border: none;
  padding: 0;
  margin: 0;
}
.video__cards-title {
  padding: 0.3rem;
  cursor: pointer;
}
.video__cards-details {
  display: flex;
  padding: 0.5rem;
  justify-content: space-around;
  align-items: center;
  background-color: #dbdbdb;
  height: 6rem;
}
button.btn.btn-warning {
  width: 20%;
}

.video__cards-image img {
  height: 3rem;
  width: 3rem;
  border-radius: 1rem;
  border: none;
}
.video-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  align-items: center;
  background-color: #dbdbdb;
  border-radius: 0.3rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.card-wrapper {
}
